.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('bgreact.jpg'); /* Ensure the image path is correct */
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px; /* Reduced font size */
  color: #f7f713;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px; /* Reduced width */
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Space between the fields */
}

input, select {
  width: 100%;
  padding: 8px; /* Reduced padding */
  border: 1px solid #dddddd;
  border-radius: 8px;
  font-size: 14px; /* Reduced font size */
  color: #333333;
  box-sizing: border-box;
}

input::placeholder {
  color: #333333;
  font-size: 12px; /* Reduced placeholder font size */
}

button {
  padding: 8px 12px; /* Reduced button padding */
  background-color: #f7f713;
  color: #190404;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357abd;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
  color: #333333;
  text-align: center; /* Center align the text */
}

.login-link a {
  text-decoration: none;
  color: #0066cc;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
